@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
@import "normalize.css";
:root {
  // colors
  --primary-color: #53b175;
  --black-color: #495057;
  --white-color: #fff;
  --second-color: #f93e3e;
  --orange-color: #c16802;
  --pink-hover-color: #e53670;
  --yellow-color: #ffc107;
  --gray-color: #ebecf08a;
  --gray-color2: #ebecf0;
  --green-hover-color: #018b7e;
  --blue-color: rgba(53, 162, 235, 0.5);
  --blue-color2: #1976d2;
  --blue-hover-color: #2669ad;
  --shadow-color: #babecc;
  --bgr-body-content-app: #f7f8fa;
  --border-color: #d8d8d8;
  --hover-black: #4d599526;
  --sidebar-color: #fff;
  --pink-color: rgba(255, 99, 132, 0.5);

  //size component
  --primary-size: 1.4rem;
  --header-height: 54px;
  --width-sidebar-small: 80px;
  --width-sidebar-large: 242px;
  --font-family: "Roboto", sans-serif;

  // loading css
  --size: 120;
  --coefficient: 1px;
  --timeline: 2.6s;
  --delay: 0.65s;
  --rotation-y: -24;
  --rotation-x: 28;
  --color-one: #3a0ca3;
  --color-two: #4361ee;
  --color-three: #4cc9f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: var(--primary-size);
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--black-color);
}

a {
  text-decoration: none;
  color: var(--black-color);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

li {
  list-style: none;
}

// Custom scrollbar
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

// Custom tippy tooltip

body {
  .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.92);
  }

  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }

  .tippy-content {
    padding: 8px 9px;
  }

  .tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
    top: -8px;
  }
}

label {
  font-size: 1.4rem;
  color: var(--black-color);
}
